.contatos{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, white 0, white 50%,  #00ff71 50%);
}
.contatos-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}