.lugares{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, white 0, white 50%, #00ff71 50%);
}
.lugares-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%; 
    justify-content: space-around;
    align-items: center;
}
.projetos{
    width: 25%;
    height: 60%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius:100%;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    box-shadow: 1px 1px 1px 15px white;
}
.projetos img{
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius:100%;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    filter: grayscale(100%);
    transition: all 1.5s;
}
.projetos img:hover{
    cursor: pointer;
    filter: grayscale(0);
    transform: scale(115%);
}